#body{
	background: black;


}

#welcome{
color: yellow;
font-size: 14;
font-family: sans-serif;
font-variant-caps: 
;
}
#creep{
	color: white;
	font-variant-caps: uppercase;
	font-weight: 300;
}
#aboutus{
	color: yellow;
	font-weight: 200
}