 
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Quicksand:700');
@import url('https://fonts.googleapis.com/css?family=Questrial:500');

#wrapper{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}


#title{
 	background-color: ##FFED74;
	border: 1px black solid;
	padding: 20px;
}

#subtitle{
 	background-color: ##FFED74;
	border: 1px black solid;
	padding: 20px;

}

#top{
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

#intro{
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}


#main{
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

#updates{
	background-color:  #E89C6C;
    border: 1px black solid;
    padding: 20px;
}




